.App {
  margin-top: 3%;
  text-align: center;
  color: white;
}
body{
  background: linear-gradient(120deg, #3498db,#8e44ad) no-repeat ;
  min-height: 100vh;
}
.greenbutton{
  border-radius: 50%;
  background-color: lightgreen;
  text-align: center;
  border: none;
  outline: none;
}
.greenbutton:hover{
  background-color: black;
  box-shadow: lightgreen;
  color: lightgreen;
}
.todo_input{
  margin-top: 2%;
  padding-left: 40%;
  padding-right: 40%;
}
.btn:focus{
  outline: none !important;
  box-shadow: none;
  border: lightgreen;
}
.form-control:focus{
  outline: black !important;
  box-shadow: none;
  border: black !important;
}
.logout{
  text-align: center;
 display: block;
 background-color: black;
 top: 0;
 position: absolute;
 right: 3rem; 
 padding: 0.8%;
 margin-top: 1rem;
 border-radius: 7%;
}
a{
  color: white;
}
a:hover{
  color: white;
  text-decoration: none;
}
.logout:hover{
  transform: scale(1.1);
}